<?xml version='1.0' encoding='utf-8'?>
<widget id="gq.joshiepoo.uselssweb" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Useless Web</name>
    <description>
        A useless web browser
    </description>
	<icon src="icon.png"/>
    <author email="herronjo110@gmail.com" href="http://joshiepoo.gq">
        Joshua Herron
    </author>
    <content src="index.html" />
    <access origin="*" />
	<allow-navigation href="http://*/*"/>
	<allow-navigation href="https://*/*"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="*:*"/>
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
</widget>
